@import url(https://fonts.google.com/?preview.layout=grid);


:root{
    --line-border-fill: #ff8800;
    --line-border-empty: #dee2e6;
}


*{
    box-sizing: border-box;   
}

body{
    font-family: 'Inter', sans-serif;
    background-color:#fbf9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;

}

